:root {
    --color-principal: black;

    --color-secundario: white;
    
    --color-terciario: #5c5b5bbc ;
    
    --color-cuaternario: blue;

    --color-quinario: #969696;
    
    --bg-card:#36636a;

}

