* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    /* width: 100vw; */
    height: 100vh;
}

section {
    padding-left: 40px;
}

svg {
    color: white;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-colum {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.top-left-row {
    justify-content: start;
    align-items: start;
}

.top-left-colum {
    justify-content: start;
    align-items: start;
}

.flex-colum-space-between {
    justify-content: space-between;
    align-items: start;
}