* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    /* width: 100vw; */
    height: 100vh;
}

section {
    padding: 0 40px;
} 

svg {
    color: var(--color-secundario);
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-colum {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.top-left-row {
    justify-content: start;
    align-items: start;
}

.top-left-colum {
    justify-content: start;
    align-items: start;
}

.flex-colum-space-between {
    justify-content: space-between;
    align-items: start;
}

.cards-div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;

    > div {
        background-color: var(--bg-card);
        border-radius: 15px;
        cursor: pointer;
        
        > div {
            position: relative;

            > img {
                border-radius: 15px 15px 0 0;
            }

            > .btn-card {
                position: absolute;
                width: 60px;
                height: 60px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }

        > .txt {
            color: var(--color-secundario);
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 10px;

            p {
                font-size: 1.4em;
            }
        }
    }


}