footer {
    background-color: var(--color-principal);
    color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
    
    p {
        font-size: 1.5em;
        font-family: sans-serif;
        font-weight: bold;
    }

    > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
        gap: 10px;

        a {
            text-decoration: none;
            color: var(--color-cuaternario);
            font-size: 1.2em;
        }

        p {
            color: var(--color-quinario);
            font-size: 1.1em;
        }
    }
}