.section-3 {
    height: 700px;
    background-image: url("../img/section-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;

    #btns-section-3 {
        gap: 5px;

        button {
            background-color: var(--color-principal);
            border: solid 1px var(--color-secundario);
            padding: 13px 20px;
            color: var(--color-secundario);
            border-radius: 25px;
            font-size: 1em;

        }

        button:hover {
            background-color: var(--color-secundario);
            color: var(--color-principal);
            cursor: pointer;

        }
    }

    h1 {
        color: var(--color-secundario);
        font-size: 2em;
        margin-top: 10px;
        font-weight: bold;
    }

    p {
        color: var(--color-secundario);
        width: 35%;
        font-size: 1.2em;
        margin-top: 20px;
    }

    #imgs {
        top: 80%;
    }
}

