.section-3 {
    height: 700px;
    background-image: url("../img/section-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-top: 40px;
    padding-bottom: 40px;

    #btns-section-3 {
        display: flex;
        gap: 5px;

        button {
            background-color: black;
            border: solid 1px white;
            padding: 13px 20px;
            color: white;
            border-radius: 25px;
            font-size: 1em;

        }

        button:hover {
            background-color: white;
            color: black;
            cursor: pointer;

        }
    }

    h1 {
        color: white;
        font-size: 2em;
        margin-top: 10px;
        font-weight: bold;
    }

    p {
        color: white;
        width: 35%;
        font-size: 1.2em;
        margin-top: 20px;
    }

    #imgs {
        top: 80%;
    }
}

