.section-2 {
    height: 900px;
    background-image: url("../img/section-3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 40px;

    h1 {
        color: white;
        font-size: 33px;
        padding-top: 40px;
    }

    #cards {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 20px;

        > div {
            background-color: #36636a;
            border-radius: 15px;
            cursor: pointer;

            img {
                border-radius: 15px 15px 0 0 ;
            }

            svg {
                position: absolute;
                width: 60px;
                height: 60px;
            }
        }

        .txt {
            color: white;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 10px;

            p {
                font-size: 1.4em;
            }
        }
    }

}

