.section-4 {
    height: 700px;
    background-image: url("../img/section-5.webp");
    background-repeat: no-repeat;
    background-size: cover;

    #btns-section-4 {
        gap: 5px;
        padding-top: 40px;

        button {
            background-color: black;
            border: solid 1px white;
            padding: 18px 20px;
            color: white;
            border-radius: 25px;
            font-size: 1em;

        }

        button:hover {
            background-color: white;
            color: black;
            cursor: pointer;

        }
    }

    h1 {
        color: white;
        font-size: 2em;
        margin-top: 10px;
        font-weight: bold;
    }

    p {
        color: white;
        width: 35%;
        font-size: 1.2em;
        margin-top: 20px;
    }
}